<!DOCTYPE html>
    <%- include('head'); %>
    <body>
        <%- include('header'); %>
        <div  id="Primary" class="container jumbotron">
            <p class="display-6">About Node + EJS</p>
            <p class="lead"> EJS (Embedded JavaScript Templating) is a Template Engine that can be used with Node.js.</p>
            <p class="lead-1"> So, as we are going to create an article about PUG, a template engine we can dynamically like pages from our applications in Node.js without depending on HTML itself.</p>
        </div>   
        <%- include('footer'); %>
    </body>
</html>