<!DOCTYPE html>
    <%- include('../partials/head'); %>
    <body>
        <%- include('../partials/header', {page: 'About'}); %>
        <main>
            <div class="container jumbotron expand" style="margin-top: 3rem;">
                <h1 class="display-6  titleFixed">About Node + EJS</h1>
                <p> EJS (Embedded JavaScript Templating) is a Template Engine that can be used with Node.js.</p>
                <p> So, as we are going to create an article about PUG, a template engine we can dynamically like pages from our applications in Node.js without depending on HTML itself.</p>
            </div>  
        </main> 
        <%- include('../partials/footer'); %>
    </body>
</html>